body {
	font-family: Arial, Helvetica, sans-serif;
}

#selection-page {
	text-align: center;
	visibility: visible;
}

#fortune-page {
	text-align: center;
	visibility: hidden;
	/* align-items: right; */
	/* background-color: aliceblue; */
}

.display-fortunes {
	background-color: aliceblue;
	display: flex;
	flex-wrap: wrap;
	/* padding: 20px; */
	/* overflow-wrap: normal; */
	/* align-items: center; */
	/* float: center; */
	align-content: center;
}

.cards-to-select {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 50px;
	padding: 0px 50px 0px 50px;
}
